@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');

$header-font-fam: 'Ledger', serif;
$body-font-fam: 'Lato', serif;

$header-fs: 20px;
$header-fw: 400;

$fs-24: 24px; //h1 narciso, quantity, add to cart//
$fs-36: 36px; //h2 fragrance, sale price//
$fs-20: 20px; //h4, ml//
$fs-16: 16px;

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;